extends ../layout_app

block content_app
    .form-content 
        .form-title
            h1 Editar cancion
        .form-main
            form(action="/album/"+album._id+"/song/"+song._id+"?_method=PUT"  method="POST")
                .form-input
                    input(type="text" name="title" placeholder="Titulo de la cancion" value=song.title)
                .form-input
                    input(type="text" name="artist" placeholder="Artista" value=song.artist)
                .form-button
                    input(type="submit" value="Guardar cambios")