extends ../layout/collection

block content_collection
    .collection-content
        .collection-title
            h2 Tu lista de albums creados
        .collection-main-album
            if albums.length > 0
                for album in albums
                    .collection-item
                        a(href='/album/'+album._id)
                            img(src="/images/1.png")
                        a(href='/album/'+album._id)= album.title
                        p=user.fullname
            else
                h3 No has creado un album aun