extends ../layout/collection

block content_collection
    .collection-content
        .collection-main
            h2 Recien escuchado
            h2 Album
            h2 Siguendo
            h2 Recien escuchado