extends layout
block content
    .about-content
        .about-nav
            a(href='/') Inicio 
            a |  
            a(href='/login') Iniciar sesión
        .about-title
            h1 Dope Music
        .about-description
            p Musica original