extends layout

block content
    header
        .header-content
            .header-title
                h1= message
            .header-button
                a.button-1(href="/login") Iniciar sesion
                a.button-2(href="/signup") Registrarse
    main
        .index-content
            .index-main
                h3 Album reciente
                for album in albums
                    a(href="/album/"+album._id)
                        .main-item
                    a.album-title(href="/album/"+album._id)=album.title
                    p.album-description=album.description
                    p.album-year=album.year