extends layout
block content
    main
        .main-content
            .main-title
                h1 Bienvenidos
            .main-button
                a.button-1(href="/login") Iniciar sesión
                a.button-2(href="/signup") Registrarse