extends layout

block content
    .login-content
        .login-title
            h1= message
        .login-main
            form(action="/login" method="POST")
                .login-input
                    input(type="text" name="username" placeholder="Usuario")
                .login-input
                    input(type="password" name="password" placeholder="Contraseña")
                .login-button
                    input(type="submit" value="Iniciar sesion")
                .login-button
                    a(href="/signup") Ya tengo cuenta