extends layout

block content
    .form-content
        .form-title
            a(href="/")
                h1=title
            p=message
        .form-main
            form(action="/login" method="POST")
                .form-input
                    input(type="text" name="username" placeholder="Usuario")
                .form-input
                    input(type="password" name="password" placeholder="Contraseña")
                .form-button
                    input(type="submit" value="Iniciar sesion")
                .form-button
                    a(href="/signup") No tengo cuenta