extends layout/empty

block content
    .container
        form.form-cont
            .form-title
                h1 Inicia sesión en Creators
                p Usa tu cuenta de Legacy
            .form-item
                input#txtEmail(type="text" name="email" placeholder="Correo electronico")
            .form-item
                input#txtPassword(type="password" name="password" placeholder="Contraseña")
            button#btnLogin.btn.btn-default Inicia sesión
        .section-cont
            .section-item
                p No tienes cuenta #[a(href="/signup")  Regístrate]
block script
    script.
        // Get elements
        var txtEmail = document.getElementById("txtEmail")
        var txtPassword = document.getElementById("txtPassword")
        var btnLogin = document.getElementById("btnLogin")

        // Sign in event
        btnLogin.addEventListener("click", function(e) {
            // Get email and pass
            var email = txtEmail.value
            var pass = txtPassword.value
            var auth = firebase.auth()
            // Sign in
            var promise = auth.signInWithEmailAndPassword(email, pass)
            promise
                .then(function(user) {
                    window.location.href = "/";
                })
                .catch(function(e) {
                    console.log(e.messages)
                })
        })

block style 
    style(media="screen").
            /* Mobile first */

            /* Form container */
            .form-cont {
                width: 80%;
                margin: 30px auto
            }

            /* Titles and paragraph */
            h1, 
            p {
                margin: 0;
                text-align: center
            }
            h1 {
                font-size: 24px;
            }
            p {
                margin: 17px 0;
            }

            /* Inputs and labels */
            label {
                font-weight: bold;
                margin: .3em 0
            }
            input {
                padding: .5em .8em;
                margin-bottom: .6em;
                font-size: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 100%
            }
            input:focus {
                border: 1px solid #5595c6;
            }

            /* Sections */
            .section-item p {
                color: #333
            }

            /* Buttons styles */
            .btn{
                padding: .5em .8em;
                font-size: 15px;
                border-radius: 4px;
                cursor: pointer;
                width: 100%
            }

            /* Default buttons */
            .btn-default {
                border: none;
                border: 1px solid #ccc;
                background: #333;
                color: #fff
            }
            .btn-default:hover {
                background: #d4d8dd;
            }

            /* Small devices (tablets, 768px and up) */
            @media (min-width: 768px){
                /* Form container */
                .form-cont,
                .section-cont
                {
                    margin: 15px auto;
                    padding: 20px;
                    width: 40%;
                    border: 1px solid #ccc;
                }
                .section-cont {
                    padding: 8px 
                }    
            }

            /* Medium devices (desktops, 992px and up) */
            @media (min-width: 992px) {
                /* Visible article */
                .article-cont {
                    visibility: visible;
                    height: auto
                }

                /* Container style */
                .container {
                    max-width: 992px; 
                    margin: auto;
                }

                /*  Form style */ 
                .form-cont {
                    margin-top: 8%;
                    width: 35%
                }
                
                /* Section style */
                .section-cont {
                    width: 35%
                }

            }  