extends layout/empty

block content
    .form-content
        .form-title
            a(href="/")=title
            p=message
        .form-main
            form(action="/signup" method="POST")
                .form-input
                    input#txtEmail.form-item(type="email" name="email" placeholder="Correo electronico")
                .form-input
                    input#txtUsername.form-item(type="text" name="username" placeholder="Nombre de usuario")
                .form-input
                    input#txtPassword.form-item(type="password" name="password" placeholder="Contraseña")
                .form-button
                    input#btnSignUp.button-1.button-registro(type="submit" value="Registrarse")
                .form-button
                    a(href="/login") Ya tengo cuenta
block script 
    script.
        // Get elements 
        var txtEmail = document.getElementById("txtEmail")
        var txtPassword = document.getElementById("txtPassword")
        var btnSignUp = document.getElementById("btnSignUp")

        // Add signup event
        btnSignUp.addEventListener("click", function(e) {
            // Get email and pass
            var email = txtEmail.value
            var pass = txtPassword.value
            var auth = firebase.auth()
            // Sign up
            var promise = auth.createUserWithEmailAndPassword(email, pass)
            promise
                .then(function(user) {
                    console.log(user.uid)
                })
                .catch(function(e) {
                    console.log(e.message)
                })            
        })