extends layout/empty

block content
    .form-content
        .form-title
            a(href="/")=title
            p=message
        .form-main
            form(action="/signup" method="POST")
                .form-input
                    input.form-item(type="text" name="fullname" placeholder="Nombre completo")
                .form-input
                    input.form-item(type="email" name="email" placeholder="Correo electronico")
                .form-input
                    input.form-item(type="phone" name="phone" placeholder="Telefono")
                .form-input
                    input.form-item(type="text" name="username" placeholder="Nombre de usuario")
                .form-input
                    input.form-item(type="password" name="password" placeholder="Contraseña")
                .form-select
                    select.form-item(name="sex")
                        option.form-option Sexo
                        option(value="Masculino") Masculino
                        option(value="Femenino") Femenino
                .form-button
                    input.button-1.button-registro(type="submit" value="Registrarse")
                .form-button
                    a(href="/login") Ya tengo cuenta