extends layout/default

block content_default
    if user.typeuser == "Artista"
        .upload-content 
            .upload-title
                h1 Que deseas hacer pirmero
                p.ion-speakerphone  Puedes empezar desde cero, si nececitas ayuda haznoslo saber
            .upload-song
                a(href='/album/new') Subir cancion
            .upload-album
                a(href='/album/new') Crear album
            .upload-main
                p Al subir contenido a Creators, por la presente certificas que eres el propietario de los derechos de autor o tienes todos los derechos necesarios relacionados con dicho contenido para cargarlo.
    else
        if user.username
            .upload-content 
                .upload-title
                    h2 Ve a tu perfil y edita tu tipo de cuenta