extends layout/default

block content_default
    if user.typeuser == "Artista"
        .upload-content 
            .upload-title
                h1 Que deseas hacer pirmero
            .upload-main-2
                a.button-1(href='/album/new') Crear proyecto
                a.button-2(href='/album/new') Subir cancion
    else
        if user.username
            .upload-content 
                .upload-title
                    h2 Ve a tu perfil y edita tu tipo de cuenta