extends ../layout_app

block content_app
    h1.title Subir nuevo album
    form(action="/album" method="POST")
        .input
            input(type="text" name="title" placeholder="Titulo")
        .input
            input(type="text" name="description" placeholder="Descripcion del album...")
        .input
            input(type="text" name="year" placeholder="Año")
        .button
            input(type="submit" value="Crear album")