extends ../layout_app

block content_app
    h1.title Subir nuevo album
    form(action="/album" method="POST")
        .input
            input(type="text" name="title" placeholder="Titulo del album...")
        .input
            input(type="file" name="archivo")
        .button
            input(type="submit" value="Crear album")