<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 , user-scalable=0">
    <!-- Styles -->       
    <link rel="stylesheet" href="styles.css">
    <!-- Fontastic -->   
    <link href="https://file.myfontastic.com/nRXJWbeMh9gZZNfnfYzjDm/icons.css" rel="stylesheet">    
</head>
<body>
    <header class="main-header">
        <div class="main-header__content">
        <div class="main-header__logo">
            <p>Dope Music</p>
        </div>
        <div class="main-header__toggle" id="main-nav-toggle"></div>
        <div class="main-header__nav">
            <nav class="main-nav" id="main-nav">
            <ul class="main-nav__menu" id="main-menu" >
                <li class="main-nav__menu__item">
                <a href="/">Inicio</a>
                </li>
                <li class="main-nav__menu__item">
                <a href="/about">Nosotros</a>
                </li>
                <li class="main-nav__menu__item">
                <a href="/logout" class="main-nav__login__button">Salir</a>
                </li>
            </ul>
            </nav>
        </div>
        </div>
    </header>
    </nav>
    <div id="cp_widget_3779373a-f637-4dae-bbda-0d32e9801160">...</div><script type="text/javascript">
    var cpo = []; cpo["_object"] ="cp_widget_3779373a-f637-4dae-bbda-0d32e9801160"; cpo["_fid"] = "AgOAP1dcEdNa";
    var _cpmp = _cpmp || []; _cpmp.push(cpo);
    (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
    var c = document.getElementsByTagName("script")[0];
    c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='https://www.cincopa.com/solution/enterprise'>Business Video</a> solution.<span>Dope Music Full</span><span>Dope Music canciones completas</span><span>Otra Vez</span><span>JBalvin - Zion_Lennox</span><span>Traicionera</span><span>Sebastian Yatra</span></noscript>

    <!-- EDgrid libraries -->
    <script src="js/ed-grid.js"></script>
    <script>
      edgrid.menu('main-nav','main-menu')
    </script>

</body>
</html>
