extends layout_app

block content_app
    .dash-content 
        .dash-title
            h1 Album reciente
        .album-content
            for album in albums
                a(href="/album/"+album._id).album-main
                    img(src="images/1.png", alt="")
                    p= album.title
            //-var i = 10
            //-while(i--)
                .album-main
                    img(src="images/3.png", alt="")
            