extends ../layout

block content
    header
        .header-content
            .header-title-dash
                h2 Dope Music
            .header-button-dash
                a(href="/dashboard") Inicio
                a(href="/album") Biblioteca
                a(href="/profile") Perfil
    block content_app