extends ../layout

block content
    header
        .header-content
            .header-title-dash
                h2 Dope Music
            .header
            .header-button-dash
                a(href="/dashboard") 
                    b.icon-home
                    s Inicio
            .header-button-dash
                a(href="/album") 
                    b.icon-headset-sound-streamline
                    s Biblioteca
            .header-button-dash
                a(href="/profile")
                    b.icon-user
                    s Perfil
    block content_app