extends ../layout

block content
    header
        .header-content
            .header-title-dash
                h2 Dope Music
            .header-button-dash
                a(href="/dashboard") 
                    b.icon-home
                    b Inicio
                a(href="/album") 
                    b.icon-list
                    b Biblioteca
                a(href="/profile")
                    b.icon-user
                    b Perfil
    block content_app