extends ../layout/default

block content_default
    .explorer-content
        .explorer-title
            h1 Explorar
            p Prueba buscando en todas las categorias
        .explorer-tag
            - var tags = ['Electronica', 'Pop', 'Reggae']
            each tag in tags
                a(href='/explorer/'+tag) 
                    h2 #{tag}
        .explorer-title
            h2 Lo mas reciente
        if albums.length > 0
            .index-main
                for album in albums
                        .index-item
                            if album.cover
                                a(href="/album/"+album._id)
                                    .index-cover(style="background-image: url('/covers/"+album.cover+"')")
                                        img(src="/covers/default.png", alt="")
                            else
                                a(href="/album/"+album._id)
                                    img(src="images/1.png", alt="").index-cover
                            a.album-title(href="/album/"+album._id)
                                h3=album.title
                            a.album-artist(href="/user/"+album.creator.username)=album.creator.fullname