extends ../layout/default

block content_default
    if user.username
        .collection-content
            .collection-nav
                ul
                    li: a(href='/collection') Actividad
                    li: a(href='/album') Albums
        block content_collection