extends ../layout/default

block content_default
    .collection-content
        .collection-main
            ul
                li: a(href='#') Actividad
                li: a(href='#') Albums
    block content_collection