extends empty

block content
    header
        .header-content
            if !user.username
                .header-title
                    span.bold Update: 
                    a.header-logo(href="/") Creators #[span Community]
            else
                .header-title-2
                    span.bold Update: 
                    a.header-user(href="/") Creators #[span Community]
                    a.button-1(href="/") 
                        b.ion-home 
                        span Inicio
                    a.button-3(href="/explorer")
                        b.ion-search
                        span Explorar
                    a.button-2(href="/collection")
                        b.ion-grid
                        span Coleccion
                    a.button-4(href="/user")
                        b.ion-navicon-round
                        span Perfil
            if user.username
                .header-button-2
                    a.button-4(href="/upload").ion-upload
                    a.button-4(href="/login").ion-android-notifications-none
                    a.button-4(href="/user").ion-navicon-round
                        //span #{user.fullname} #[img(src="/avatars/"+user.avatar, alt="")]
            else
                .header-button
                    a.button-3(href="/upload") Crear proyecto
                    a.button-1(href="/login") Iniciar sesion
                    a.button-2(href="/signup") Registrarse
    block content_default