extends empty

block content
    header
        .header-content
            .header-title
                a.header-logo(href="/") Creators
                if user.username
                    a.button-1(href="/") 
                        b.icon-home 
                        span Inicio
                    a.button-2(href="/")
                        b.icon-headset-sound-streamline
                        span Biblioteca
                    a.button-3(href="/")
                        b.icon-search
                        span Explorar
                    a.button-4(href="/")
                        b.icon-bars
                        span Perfil
            if user.username
                .header-button
                    a.button-4(href="/login") Go Pro
                    a.button-4(href="/upload") Subir cancion
                    a.button-4(href="/signup") #{user.fullname}
            else
                .header-button
                    a.button-1(href="/login") Iniciar sesion
                    a.button-2(href="/signup") Registrarse
                    a.button-3(href="/upload") Subir cancion
    block content_default