doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 , user-scalable=0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet"  href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    body
        block content
        footer
            #wrapper.display
                audio#mytrack
                nav
                    #defaultBar
                        #progressBar
                    #buttons
                        button.icon-pause#playButton(type="button")
                        button.icon-play#pauseButton(type="button").display
                        button.icon-mute#muteButton(type="button")
                        span#currentTime 0:00 / #[span#fullDuration 0:00]
            p.description Made with #[span.ion-heart] by Jair Pérez
        script(src="/jquery/jquery.js")
        script(src="/javascript/main.js")