extends default

block content_default
    .user-content
        .user-main
            .user-avatar
                img(src="/avatars/"+user.avatar)
            .user-info
                h3 #{user.fullname}
                h4 #{user.username}
                h4 #{user.city}
        .user-section
            .user-nav
                a(href='/songs') Tracts
                a(href='/songs') Albums
                a(href='/songs') Siguiendo
                a(href='/songs') Seguidores
            .user-button
                if user.username && user.access
                    a(href='/logout').ion-gear-b
                    a.button-1.ion-edit(href='/user/edit')  Editar
                else
                    a.button-1.ion-person-add(href='/user/edit')  Seguir
        block content_user