.collection-content{
    @include edContainer;
}
.collection-nav{
    @include edItem;
    @include to(m){
        padding: 0;
        ul{
            @include edMenu(s,navBar);
            border-bottom: 1px solid $border
        }
        a{
            color: $secondary;
            &:hover{
                color: $primary;
                background: $secondary;
                transition: .3s all
            }
        }
    }
    @include from(m){
        margin: 0 1em;
        padding: 0;
        padding-top: 2em;
        border-bottom: 1px solid $border;
        ul{
            margin: 0;
            padding: 0;
            @include mainStart;
            li{
                list-style: none;
                margin-right: 1em;
            }
            a{
                line-height: 1;
                color: $secondary;
                font-size: 24px;
                &:hover{
                    color: $secondary
                }
                &:active{
                    text-decoration: underline
                }
            }
        }
    }
}
.collection-main{
    @include edItem
}
.collection-title{
    @include edItem;
    @include to(m){
        text-align: center;
        h2{
            margin: 1em;
        }
    }
    @include from(m){
        h2{
            margin-top: 2em;
        }
    }
    h2{
        font-size: 18px;
        font-weight: 100;
        color: $favorite
    }
}
.collection-main-album{
    @include edItem;
    img{
        border: 1px solid $border;
        margin-bottom: .5em;
        &:hover{
            border: 1px solid $secondary;
            transition: .3s all
        }
    }
    a{
        color: $secondary
    }
    p{
        color: $favorite;
        margin: 0;
        margin-bottom: 1.5em
    }
    @include to(m){
        text-align: center;
    }
    @include from(m){
        @include grid(".collection-item",4);
    }
    @include from(l){
        @include grid(".collection-item",5);
    }
}