.collection-content{
    @include edContainer;
}
.collection-nav{
    @include edItem;
    @include to(m){
        padding: 0;
        ul{
            @include edMenu(s,navBar);
            border-bottom: 1px solid $border
        }
        a{
            color: $secondary;
            &:hover{
                color: $primary;
                background: $secondary;
                transition: .3s all
            }
        }
    }
    @include from(m){
        margin: 0 1em;
        padding: 0;
        padding-top: 2em;
        border-bottom: 1px solid $border;
        ul{
            margin: 0;
            padding: 0;
            @include mainStart;
            li{
                list-style: none;
                margin-right: 1em;
            }
            a{
                line-height: 1;
                color: $secondary;
                font-size: 24px;
                &:hover{
                    color: $secondary
                }
                &:active{
                    text-decoration: underline
                }
            }
        }
    }
}
.collection-main{
    @include edItem
}
.collection-title{
    @include edItem;
    h3,h2,p{
        color: $favorite
    }
}
.collection-main-album{
    @include edItem;
    a{
        font-size: 20px
    }
    a{
        color: $secondary
    }
    p{
        color: $favorite;
        margin: 0;
        margin-top: .2em; 
        margin-bottom: 1.5em
    }
    @include to(m){
        text-align: center;
    }
    @include from(m){
        @include grid(".collection-item",4);
    }
    @include from(l){
        @include grid(".collection-item",5);
    }
}
.collection-item{
    img{
        visibility: hidden;
    }
    .collection-cover{
        margin-bottom: .5em;
        width: 100%;
        height: auto;
        border: 1px solid $border;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%
    }
}