.dash-content{
    @include edContainer
}
.dash-title{
    @include edItem;
    h1{
        font-weight: $normal;
        text-align: center
    }
}
.dash-main{
    @include edItem;
    text-align: center
}
.album-content{
    padding: .5em;
    a{
        text-decoration: none;
        &:hover{
            border: 1px solid $dark;
            transition: .4s all;
            p{
                background: $secondary;
                color: $primary;
            }
        }
    }
    @include to(m){
        @include grid(".album-main",2)
    }
    @include from(m){
        @include grid(".album-main",3)
    }
    @include from(l){
        @include grid(".album-main",4)
    }
}
.album-main{
    border: 1px solid $border;
    img{
        display: block
    }
    p{
        padding: .5em;
        margin: 0;
        background: $dark;
        color: $primary;
        text-align: center
    }
}