footer{
    @include stickyFooter;
    text-align: center;
    span , a{
        @include hideFrom(m);
    }
    a{
        color: $favorite;
        &:visited{
            color: $secondary
        }
    }
}