.form-content{
    @include edContainer
}
.form-title{
    @include edItem;
    text-align: center;
    a{
        color: $dark;
        text-decoration: none
    }
    h1{
        font-weight: $normal
    }
    p{
        color: $favorite
    }
}
.form-main{
    @include edItem;
    text-align: center;
}
.form-input, .form-select, .form-button{
    input, select{
        border: none;
        border-radius: 3px;
        width: 14em;
    }
}
.form-input, .form-select{
    margin: .2em;
    input, select{
        padding: .5em;
        border: 1px solid $border;
        font-size: 1.1em
    }
}
.form-button{
    margin-top: .5em;
    margin-bottom: 1em;
    @include to(m){
        padding: 0
    }
    input{
        width: 15.4em;
        font-size: 16px;
        @include button($dark, $primary)
    }
    a{
        color: $secondary
    }
}