.header-content{
    @include edContainer
}
.header-title, .header-message{
    @include edItem(100,1/2);
    h1,h2{
        font-size: 30px;
        font-weight: $normal
    }
    h2{
        text-align: center;
    }
    @include hideFrom(m)
}
.header-message{
    @include showFrom(l)
}
.header-button{
    @include edItem(100,1/2);
    text-align: center;
    a{
        margin: 1em .3em
    }
    .button-1{
        border: 1px solid $secondary;
        @include button($primary, $secondary, radius)
    }
    .button-2{
        @include button($dark, $primary, radius)
    }
}