.header-content{
    @include edContainer
}
.header-title, .header-message{
    @include edItem(100,1/2,1/3);
    h1,h2{
        font-size: 30px;
        font-weight: $normal
    }
    h2{
        text-align: center;
    }
    @include showFrom(m)
}
.header-message{
    @include showFrom(l)
}
.header-button{
    @include edItem(100,1/2,1/3);
    text-align: center;
    @include from(m){
        text-align: right
    }
    a{
        margin: 1em .1em
    }
    .button-1{
        border: 1px solid $secondary;
        @include button($primary, $secondary, radius)
    }
    .button-2{
        @include button($dark, $primary, radius)
    }
}
.header-title-dash, .header-button-dash{
    padding-top: .8em;
    @include edItem(100,50);
    h2{
        margin: 0;
        font-weight: $normal
    }
    a{
        margin: 0 .3em;
        color: $secondary;
    }
    @include to(m){
        text-align: center
    }
}
.header-button-dash{
    @include from(m){
        text-align: right
    }
}