.header-content{
    @include edContainer
}
.header-title{
    @include edItem;
    @include to(m){
        display: none
    }
}
.header-button{
    @include edItem;
    text-align: center;
    a{
        margin: 1em .3em
    }
    .button-1{
        border: 1px solid $secondary;
        @include button($primary, $secondary, radius)
    }
    .button-2{
        @include button($dark, $primary, radius)
    }
}