.library-content{
    @include edContainer
}
.library-main{
    padding: 0 .5em;
    text-align: center;
    a{
        color: $secondary
    }
    h3,p{
        margin: 0
    }
    h3{
        margin: .6em
    }
    @include to(m){
        @include grid(".library-item",2);
    }
    @include from(m){
        @include grid(".library-item",4);
    }
}
.library-cover{
    border: 1px solid $border;
    &:hover{
        border: 1px solid $secondary;
    }
}
.library-button{
    margin: .5em;
    input,a{
        margin: 0 .2em;
        border: none;
        background: $primary;
        text-decoration: none;
        cursor: pointer
    }
    input{
        padding: .1em;
    }
    a:hover{
        background: $border;
        color: $secondary;
        transition: .3s all
    }
    input:hover{
        background: $danger;
        color: $primary;
        transition: .3s all
    }
}
.library-footer{
    @include edItem;
    text-align: center;
    padding: 1em;
    a{
        @include button($primary, $secondary, radius)
    }
}