.input,.button{
    text-align: center;
    input{
        padding: .4em;
        margin: .1em 0;
        font-size: 1em;
        border: none;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 3px 
    }
}.input{
    font-size: 1.1em;
    input{
        padding: .6em
    }
}
.button{
    input{
        padding: 0;
        margin: .5em 0;
        width: 13.8em;
        @include button($dark,$primary)
    }
}