.login-content{
    @include edContainer
}
.login-title{
    @include edItem;
    text-align: center;
    h1{
        font-weight: $normal
    }
}
.login-main{
    @include edItem;
    text-align: center;
}
.login-input, .login-button{
    input{
        border: none;
        border-radius: 3px;
    }
}
.login-input{
    margin: .2em;
    input{
        padding: .5em;
        border: 1px solid $border;
        font-size: 1.1em
    }
}
.login-button{
    margin-bottom: 1em;
    input{
        width: 16.5em;
        @include button($dark, $primary)
    }
    a{
        color: $secondary
    }
}