.index-content{
    @include edContainer;
    text-align: center
}
.index-main{
    @include edItem;
    h3{
        font-weight: $normal
    }
    a{
        color: $secondary
    }
    .main-item{
        height: 150px;
        width: 150px;
        margin: auto;
        margin-bottom: .5em;
        border: 1px solid $border;
        &:hover{
            border: 1px solid $secondary;
        }
    }
    p{
        padding: 0;
        margin: 0
    }
    .album-description, .album-year{
        color: $favorite;
        padding: .2em;
    }
}