.show-content{
    @include edContainer
}
.show-main{
    @include edContainer;
    @include edItem;
    padding: 0;
    border-bottom: 1px solid $border; 
    .show-info{
        @include edItem(70);
        @include showFrom(m);
        padding: 1em;
        a{
            font-size: 16px;
            color: $favorite;
            text-decoration: none;
            &:hover{
                color: $secondary
            }
        }
        span{
            font-size: 24px
        }
        p{
            margin: 0;
            color: $secondary
        }
    }
    .show-cover{
        @include edItem(100,30);
        text-align: right;
        padding: 1em;
        @include to(m){
            padding: 0;
        }
        @include from(m){
            img{
                width: 325px;
                height: 325px;
                border: 1px solid $border
            }
        }
    }
}
