.show-content{
    @include edContainer
}
.show-main{
    @include edContainer;
    @include edItem;
    padding: 0;
    .show-info{
        @include edItem(100,60,70);
        @include showFrom(m);
        padding: 1em;
        //background: $light;
        a{
            font-size: 16px;
            color: $favorite;
            text-decoration: none;
            &:hover{
                color: $secondary
            }
        }
        span{
            font-size: 24px
        }
        p{
            margin: 0;
            color: $secondary
        }
    }
    .show-cover{
        @include edItem(100,40,30);
        @include to(m){
            padding: 0
        }
        @include from(m){
            padding: 1em;
        }
    }
    .show-image{
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; 
        @include from(m){
            border: 1px solid $border; 
        }
    }
    .show-item{
        visibility: hidden;
    }
    .show-button{
        @include edItem;
        padding: .5em;
        @include to(m){
            @include flexCenter
        }
        a, input{
            border: 1px solid $border;
            border-radius: 3px;
            padding: .5em;
            margin-right: .5em;
            background: $primary;
            text-decoration: none;
            color: $secondary;
            &:hover{
                border: 1px solid $secondary;
                transition: .3s all
            }
        }
        input{
            font-size: 1em;
            &:hover{
                border: 1px solid $danger;
                color: $danger;
                cursor: pointer
            }
        }
    }
    .show-songs{
        @include edItem;
        padding: .6em;
        text-decoration: none;
        color: $secondary;
        &:hover{
            background: $light;
            cursor: pointer
        }
        @include to(m){
            @include flexCenter
        }
        p{
            font-size: 20px
        }
        span{
            margin-right: .5em;
            color: $favorite
        }
        b{
            font-weight: $normal
        }
    }
}
