.upload-content{
    @include edContainer
}
.upload-title{
    @include edItem;
    padding-top: 1em;
    padding-bottom: 1em;
    h1{
        margin:0
    }
    p{
        margin: 0;
        padding: 0;
        padding-top: .3em;
        padding-bottom: 1em;
        color: $favorite;
        border-bottom: 1px solid $border
    }
}
.upload-main{
    @include edItem;
    padding: 0;
    form{
        @include edContainer;
    }
}
.upload-main-2{
    @include edItem;
    @include to(m){
        @include flexCenter;
        @include flexReverse;
        padding: 1.5em 1em;
        p{
            padding: 1em 0;
        }
    }
    .button-1,.button-2{
        padding: .5em;
        text-decoration: none;
        margin-right: .5em;
        border-radius: 3px

    }
    .button-1{
        border: 1px solid $secondary;
        background: $dark;
        color: $primary
    }
    .button-2{
        border: 1px solid $secondary
    }
}
.upload-cover{
    @include edItem(100,30);
    p{
        color: $favorite
    }
    img{
       border: 1px solid $border;
    }
}
.upload-input{
    @include edItem(100,35);
    @include to(m){
        input,select{
            width: 100%
        }
        .item-small{
            input{
                width: 30%;
            }
        }
    }
    @include from(m){
        padding: 1em 0;
        input,select{
            width: 90%;
        }
        .item-small{
            width: 60%;
            input{
                width: 30%;
            }
        }
    }
    .upload-item{
        margin-bottom: .6em;
        input,select{
            margin-top: .2em;
            padding: .4em;
            font-size: 1.2em;
            border: none;
            border: 1px solid $border;
            border-radius: 3px 
        }
        select{
            font-size: 1em
        }
    }
    .item-small{
        input{
            text-align: center;
        }
        @include mainJustify
    }
}
.upload-permision{
    @include edItem(100,35);
    span{
        color: $favorite
    }
}
.upload-button{
    @include edItem;
    text-align: right;
    a{
        margin: 1em;
        color: $secondary;
        text-decoration: none
    }
    input{
        cursor: pointer;
        color: $primary;
        background: $secondary;
        border: none;
        border-radius: 2px;
        padding: .5em .8em;
        font-size: 14px
    }
    p{
        border-top: 1px solid $border
    }
}