extends ../layout_app

block content_app
    h1.title Subir nueva cancion
    form(action="/song" method="POST" enctype="multipart/form-data")
        .input
            input(type="file" name="song")
        .button
            input(type="submit" value="Crear album")